<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dimension by HTML5 UP</title>
    @await Html.PartialAsync("_CssPartial")
    @await Html.PartialAsync("_MetatagsPartial")
</head>

<body class="is-preload">

<div id="wrapper">
    @await Html.PartialAsync("_HeaderPartial")

    <div id="main">
        <article id="intro">
            @RenderBody()
        </article>
    </div>

    @await Html.PartialAsync("_FooterPartial")
</div>

<div id="bg"></div>

@await Html.PartialAsync("_ScriptsPartial")
@await RenderSectionAsync("Scripts", false)
</body>
</html>